:root {
    --black: #010101;
    --white: #ffffff;
    --speckled_white: #e1dbcf;
    --beige: #F5F5DC;
    --latte: #a17548;
    --honey: #b36d39;
    --espresso: #6c3322;
    --terracota: #a84d2e;
    --olive_green: #605b3b;
    --olive_green2: #50603b;

    --terracota2: #E2725B;
    --beige2: #F5EFE6;
    --brown: #6D3B28;
    --burnt-orange: #D98E04;
    --moss-green: #5A6650;

    --dark-terracota: #6D3B28;
    --light-beige: #F5EFE6;
  }

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: 'Lora', serif; /* Título */
    color: var(--brown);
    background-color: var(--beige2);
    line-height: 1.6;
}

nav {
    background-color: var(--dark-terracota);
    color: var(--beige);
}

nav h1 {
    color: var(--beige);
}

nav li a{
    color: var(--beige);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}

nav li a:hover{
    text-decoration: none;
    color: var(--honey);
}

/* Seção Sobre */
#about {
    padding: 50px;
    text-align: center;
    background-color: var(--dark-terracota);
    color: var(--beige);
}

/* Seção Portfólio */
#portfolio {
    padding: 50px;
    text-align: center;
}

#portfolio button{
    transition: transform 0.2s ease-in-out;
}

#portfolio button:hover{
    transform: scale(1.05);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.gallery img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
}

/* Seção Contato */
#contact {
    padding: 50px;
    text-align: center;
}

#contact form {
    max-width: 500px;
    margin: auto;
}

#contact label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

#contact button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#contact button:hover {
    background-color: #555;
}

#carouselExampleCaptions {
    width: 60%;
    height: auto;
}

.custom-carousel {
    width: 80%;
    margin: 0 auto;
}

.modal-body .carousel-item img {
    width: 100%; /* Garante que a imagem ocupe toda a largura do modal */
    height: auto; /* Mantém a proporção da imagem */
    max-height: 80vh; /* Limita a altura das imagens para 80% da altura da tela */
    object-fit: contain; /* Garante que a imagem se ajuste sem distorção */
  }

  /* Botões de navegação - anterior e próximo */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.6); /* Cor de fundo escura */
  border-radius: 50%; /* Mantém o formato circular */
}

/* Ao passar o mouse sobre os botões */
.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Torna o fundo mais escuro ao passar o mouse */
}

/* Botões de navegação (setas) */
.carousel-control-prev,
.carousel-control-next {
  color: #fff; /* Cor do texto (caso precise) */
}

#contact a {
    background-color: var(--honey);
    color: var(--beige);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#contact a:hover{
    transform: scale(1.1);
}

#footer {
    background-color: var(--dark-terracota);
    color: var(--beige);
}

@media (max-width: 991.98px) {
    #carouselExampleCaptions {
        width: 100%;
    }

    nav li a{
        color: var(--white);
    }
}